*{
  
  margin:0;
  padding:0;
  box-sizing:border-box;

}

.landingPageContainer{
  color:rgb(255, 255, 255);
  height:100vh;
  width:100vw;
  background:url("../public/landingPage.jpg");
  background-size:cover;
  

}

.landingPageContainer nav{
  padding-inline:1.2rem;
  padding-block:1.6rem;
  display:flex;
  justify-content: space-between;
  background-color: rgba(1, 4, 31, 0.41);
  align-items: center;
  position:sticky;
  top:0;
  
}
.landingPageContainer nav .navList{
  display:flex;
  gap:1.6rem;
  font-size: 1.2rem;
  cursor:pointer ;
}



.landingPageContainer nav h2{
  font-weight: 500;
  font-size:1.8rem;
}

.landingPageContainer nav .navList>*:hover{
  color:#dae364;
}

.landingMainContainer{
  color:rgb(255, 255, 255);
  margin:5rem 1rem;
  display:flex;
  justify-content:space-around;
  flex-wrap: wrap;
  
}

.landingMainContainer .landing-main-left{
  display:flex;
  flex-direction: column;
  gap:1.3rem;
  justify-content: center;
  flex-wrap: wrap;
  font-size:1.6rem;
  

}





